* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

ul {
    list-style: none;
}
